@theme {
  --color-*: initial;

  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;
  --color-black: oklch(0.001 0 0);
  --color-white: oklch(0.999 0 0);

  --color-gray-50: oklch(0.972 0.003 228.784);
  --color-gray-100: oklch(0.926 0.006 239.824);
  --color-gray-200: oklch(0.862 0.01 222.072);
  --color-gray-300: oklch(0.761 0.018 225.267);
  --color-gray-400: oklch(0.629 0.026 232.109);
  --color-gray-500: oklch(0.537 0.027 232.266);
  --color-gray-600: oklch(0.477 0.024 239.111);
  --color-gray-700: oklch(0.425 0.018 242.155);
  --color-gray-800: oklch(0.387 0.015 248.217);
  --color-gray-900: oklch(0.356 0.012 243.148);
  --color-gray-950: oklch(0.262 0.009 248.19);

  --color-primary-50: oklch(0.96 0.018 279.061);
  --color-primary-100: oklch(0.927 0.033 280.074);
  --color-primary-200: oklch(0.838 0.074 280.451);
  --color-primary-300: oklch(0.775 0.104 281.254);
  --color-primary-400: oklch(0.675 0.152 282.377);
  --color-primary-500: oklch(0.602 0.184 283.332);
  --color-primary-600: oklch(0.534 0.205 284.88);
  --color-primary-700: oklch(0.478 0.192 285.35);
  --color-primary-800: oklch(0.417 0.157 285.051);
  --color-primary-900: oklch(0.374 0.119 285.328);
  --color-primary-950: oklch(0.268 0.075 287.867);

  --color-secondary-25: oklch(0.99 0.01 100.576);
  --color-secondary-50: oklch(0.98 0.02 100.576);
  --color-secondary-100: oklch(0.953 0.043 101.493);
  --color-secondary-200: oklch(0.904 0.09 101.758);
  --color-secondary-300: oklch(0.846 0.124 99.385);
  --color-secondary-400: oklch(0.799 0.138 95.163);
  --color-secondary-500: oklch(0.734 0.135 84.702);
  --color-secondary-600: oklch(0.642 0.121 75.206);
  --color-secondary-700: oklch(0.543 0.104 64.228);
  --color-secondary-800: oklch(0.465 0.086 58.079);
  --color-secondary-900: oklch(0.41 0.071 58.25);
  --color-secondary-950: oklch(0.276 0.049 56.138);
}
